@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

/* Reset styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(assets/white-cloud-blue-sky.jpg) no-repeat center/cover;
  overflow: hidden;
  cursor: crosshair;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
  margin: 0;
  position: relative;
}

/* Styles for Index */
header {
  font-family: "Bungee Spice", sans-serif;
  text-align: center;
  font-size: 4.375em;
  position: relative;
  top: 3em;
}

/* font-family: 'Concert One', sans-serif; */
.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.buttons {
  text-align: center;
}

.buttons div {
  margin: 10px;
  padding: 10px 20px;
  font-size: 25px;
  background: rgba(52, 152, 219, 0.5);
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Concert One', sans-serif;
}

#About:hover,
#Play:hover,
#HowToPlay:hover {
  background: #1f77c9;
}

/* Shared styles for About and How to Play */
.back {
  position: absolute;
  top: 15px;
  left: 10px;
  padding: 10px 20px;
  font-size: 20px;
  background: #3498db;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Concert One', sans-serif;
}

.back:hover {
  background: #1f77c9;
}

.info,
.instruction {
  background: rgba(240, 240, 240, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  font-size: 25px;
  line-height: 1;
  text-align: center;
  max-width: 800px;
  position: absolute;
  left: 350px;
  top: 100px;
  font-family: 'Concert One', sans-serif;
}

.info:hover,
.instruction:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.info a,
.instruction a {
  color: #0078d4;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.info a:hover,
.instruction a:hover {
  color: #0056b3;
}

/* Game styles */
#collisionCanvas {
  opacity: 1;
}

#canvas1 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid rgb(50, 8, 8);
}

/* Game Over styles */
.overlay {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: 10px;
  position: absolute;
  top: 120px;
  left: 450px;
  font-size: 1.5em;
  background: rgba(240, 240, 240, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
  max-width: 800px;
  font-family: 'Concert One', sans-serif;
}

.overlay:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.overlay a {
  color: #0078d4;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.overlay a:hover {
  color: #0056b3;
}

.gameover,
.name,
.nname {
  color: #000;
  text-align: center;
}

.restart,
.main {
  padding: 10px 20px;
  font-size: 16px;
  background: #3498db;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  margin: 10px;
  font-family: 'Concert One', sans-serif;
}

.restart:hover,
.main:hover {
  background: #1f77c9;
}

/* Name Input Styles */
#input-container {
  font-family: 'Concert One', sans-serif;
  font-size: 3em;
  position: absolute;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: rgba(240, 240, 240, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  top: 150px;
}

#input-container label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

#input-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#submit-button {
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

#submit-button:hover {
  background-color: #0056b3;
}

.no-underline {
  text-decoration: none;
}


/* Media Queries for Responsiveness */
@media (max-width: 425px) {
  header {
    font-size: 2.5em;
    top: 150px;
  }

  .centered-container {
    font-size: 2em;
  }
}


















/* ..........__________.......... */
/* img {
  height: 100px;
}


.score {
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 1.5em;
}

.lives {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 1.5em;
}

.body-text {
  max-width: 600px;
  padding: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.info,
.instruction {
  background-color: rgba(240, 240, 240, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
  max-width: 800px;
  position: absolute;
  left: 450px;
  top: 120px;
}

.info:hover,
.instruction:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.info a,
.instruction a {
  color: #0078d4;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.info a:hover,
.instruction a:hover {
  color: #0056b3;
}


img {
  height: 100px;
  width: 100px;
}

#image1 {
  position: absolute;
  top: 90px;
  right: 100px;
}

#image2 {
  position: absolute;
  top: 230px;
  right: 150px;
}

#image3 {
  position: absolute;
  top: 200px;
  right: 400px;
}

#image4 {
  position: absolute;
  top: 400px;
  right: 450px;
}

#image6 {
  position: absolute;
  top: 80px;
  left: 100px;
}

#image7 {
  position: absolute;
  top: 120px;
  left: 430px;
}

#image8 {
  position: absolute;
  top: 280px;
  left: 600px;
}

#image9 {
  position: absolute;
  top: 250px;
  left: 300px;
}

#image10 {
  position: absolute;
  top: 350px;
  left: 450px;
}

#collisionCanvas {
  opacity: 0;
}

#canvas1 {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
} */



/* .score {
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 1.5em;
  color: white;
}

.lives {
  position: absolute;
  top: 15px;
  right: 10px;
  font-size: 1.5em;
  color: white;
} */