/* IMPORTING FONTS */
@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

/* RESET STYLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url(assets/white-cloud-blue-sky.jpg) no-repeat center/cover;
  overflow: hidden;
  cursor: crosshair;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #f2f2f2;
  margin: 0;
  position: relative;
}

/* INDEX STYLES */
header {
  font-family: "Bungee Spice", sans-serif;
  text-align: center;
  font-size: 4.375em;
  position: relative;
  top: 3em;
}

.centered-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.buttons {
  text-align: center;
}

.buttons div {
  margin: 10px;
  padding: 10px 20px;
  font-size: 25px;
  background: rgba(52, 152, 219, 0.5);
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Concert One', sans-serif;
}

#About:hover,
#Play:hover,
#HowToPlay:hover {
  background: #1f77c9;
}

/* ABOUT AND HOW TO PLAY SHARED STYLES */
.back {
  position: absolute;
  top: 15px;
  left: 10px;
  padding: 10px 20px;
  font-size: 20px;
  background: #3498db;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  font-family: 'Concert One', sans-serif;
}

.back:hover {
  background: #1f77c9;
}

.info,
.instruction {
  background: rgba(240, 240, 240, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  font-size: 25px;
  line-height: 1;
  text-align: center;
  max-width: 800px;
  position: absolute;
  left: 350px;
  top: 100px;
  font-family: 'Concert One', sans-serif;
}

.info:hover,
.instruction:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.info a,
.instruction a {
  color: #0078d4;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.info a:hover,
.instruction a:hover {
  color: #0056b3;
}

/* MAIN GAME SCREEN STYLES  */
#collisionCanvas {
  opacity: 1;
}

#canvas1 {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border: 1px solid rgb(50, 8, 8);
}

/* GAME OVER SCREEN STYLESs */
.overlay {
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  padding: 10px;
  position: absolute;
  top: 120px;
  left: 450px;
  font-size: 1.5em;
  background: rgba(240, 240, 240, 0.5);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9);
  font-size: 25px;
  line-height: 1.5;
  text-align: center;
  max-width: 800px;
  font-family: 'Concert One', sans-serif;
}

.overlay:hover {
  transform: scale(1.02);
  transition: transform 0.3s ease;
}

.overlay a {
  color: #0078d4;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

.overlay a:hover {
  color: #0056b3;
}

.gameover,
.name,
.nname {
  color: #000;
  text-align: center;
}

.restart,
.main {
  padding: 10px 20px;
  font-size: 16px;
  background: #3498db;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  transition: background-color 0.3s, color 0.3s;
  margin: 10px;
  font-family: 'Concert One', sans-serif;
}

.restart:hover,
.main:hover {
  background: #1f77c9;
}

/* NAME INPUT SCREEN STYLES */
#input-container {
  font-family: 'Concert One', sans-serif;
  font-size: 3em;
  position: absolute;
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background: rgba(240, 240, 240, 0.5);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  top: 150px;
}

#input-container label {
  display: block;
  margin-bottom: 10px;
  color: #555;
}

#input-container input {
  width: 100%;
  padding: 12px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#submit-button {
  background-color: #0074d9;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

#submit-button:hover {
  background-color: #0056b3;
}


/* MISCELLANEOUS */
.no-underline {
  text-decoration: none;
}


/* MEDIA QUERIES FOR RESPONSIVENESS */
@media (max-width: 425px) {
  header {
    font-size: 3.5em;
    top: 3.5em;
  }

  .info,
  .instruction {
    font-size: 0.9rem;
    position: absolute;
    left: 0.1em;
  }
  #canvas1 {
    font-size: 1.5em;
  }
  
  
}